@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


.carte{
    position: relative;
}
.top-left{
    position: absolute;
    top: 0;
    left: 0;
}
.top-center{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.top-right{
    position: absolute;
    top: 0;
    right: 0;
}
.center-right{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.bottom-right{
    position: absolute;
    bottom: 0;
    right: 0;
}
.bottom-center{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.bottom-left{
    position: absolute;
    bottom: 0;
    left: 0;
}
.center-left{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.center-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
